.title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    font-family: CherryBomb;
    border: 1px solid;
}

@font-face {
    font-family: CherryBomb;
    src: url(./assets/fonts/CherryBombOne-Regular.woff);
    src: url(./assets/fonts/CherryBombOne-Regular.woff2);
}

img{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

body {
    background-color: #ffdfd0;
    border: 1px solid blue;
}